name: Build Project

on:
  push:
    branches: [ main, master ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup xmake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest

      - name: Build
        run: |
          xmake repo -u
          xmake -y

      - name: Test
        continue-on-error: true # 就算測試失敗，也會繼續執行下一步並顯示綠色勾勾
        run: xmake test

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-Output
          path: |
            build/
            bin/
